
*{
    margin: 0;
    padding: 0;
}
.acerca-imagen img {
    width: 380px;
    height: 420px;
}

.seccion-2 img {
    width: 100%
}


header{
    display: flex;
    background-color: rgb(133, 103, 106);
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

header nav ul{
    display: flex;
    gap: 1.1em;
}

ol, ul {
    list-style: none;
}

#check {
    display: none;
}

.checkbtn {
    font-size: 25px;
    color: aliceblue;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
a {
    text-decoration: none;
}

header nav ul li a {
    color: aliceblue;
    padding: 10px ;
}

.logo {
    color: aliceblue;

}
header a i{
    color: aliceblue;
    font-size: 30px;
    padding: 5px;
}


body{
    margin-top: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}

.seccion-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
  
}

.acerca-de{
    text-align: end;
    padding: 35px;
    
   
   
}

.acerca-de p {
    font-size: 18px;
}


/*footer{
    background-color: rgb(133, 103, 106);
    width: 100%;
    padding: 10px;
    color: aliceblue;
}*/

footer ul li a{
    color: aliceblue;
}

#mas-sobre-mi {
  display: flex;
}

.sobre-mi1 {
    padding: 40px;
}
.sobre-mi1 p {
    width: 100%;

    
}
.imagen-mas-sobre-mi img{
    width: 100%;
    border-radius: 10px;
}










/* ------------- CSS General ------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: #5d6063;
    background-color: #eaedf0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
  }
  
  /* ------------- Encabezado Contacto ------------- */
  
  section.form-header {
    flex-direction: column;
    align-items: center;
    }
  
  .form-header {
    text-align: center;
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
    width: 100%;
    margin: 10px auto;
    padding: 50px;
  }

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none; 
    }

  section {
    display: block;
}
  
  .form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  /* ------------- Formulario ------------- */
  
  .formulario {
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    padding: 50px;
    margin: 30px 0 40px 0;
  }

  /* ------------- Campos del Formulario ------------- */

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type="text"],
  .form-row input[type="email"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row label {
    margin-bottom: 3px;
    text-align: initial;
  }

  .form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
  
  
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
  
  
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  
  
    width: 100%;
  }

  .form-row button {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color:rgb(154, 130, 132);
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
  }
  
  
  .form-row button:hover {
    background-color: rgb(173, 154, 155);
  }
  
  
  .form-row button:active {
    background-color: #407fc7;
  }
    
  /* ------------- Para Pantallas de más de 700px ------------- */
@media only screen and (min-width: 700px) {
    .form-header {
      padding: 50px;
    }
  
    .form-row {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 20px;
    }
    .form-row input[type="text"] {
      width: 250px;
      height: initial;
    }

    .form-row input[type="email"] {
        width: 250px;
        height: initial;
      }
    .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }
      
      .form-row textarea {
        width: 250px;
      }
    
      .form-row button {
        margin-left: 120px;
      }
  }

 


@media (max-width: 768px) {
    header{
        padding: 15px;
    }

    header nav ul{
        display: none;
    }

    .seccion-1 {
        flex-direction: column;;
    }

    .acerca-de {
        text-align: center;
    }

    .acerca-imagen img{
        width: 200px;
        height: 320px;
        margin-bottom: 40px;
    }

    #mas-sobre-mi {
       flex-direction: column;
    }

    .checkbtn{
        display: block;
    }

    #encabezado ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: dimgrey;
        text-align: center;
        top: 80px;
        left: 100%;
        transition: all 0.5s;
    }

    #check:checked ~ ul {
        left: 0%;
        display: block;
    }
    
    #encabezado nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    #encabezado nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ .checkbtn{
        color: aliceblue;
    }

    footer{
        clear: both ;
        text-align:center;
    }  
  }